Repository markthebest12/bluemoxon: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for BlueMoxon
# Install: pip install pre-commit && pre-commit install

repos:
  # Backend - Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Frontend - JavaScript/TypeScript/Vue
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(vue|ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(vue|ts|tsx)$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/dist/|backend/\.venv/)
      - id: end-of-file-fixer
        exclude: ^(frontend/dist/|backend/\.venv/)
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

infra: Add landing bucket to GitHub OIDC permissions
  infra/terraform/envs/prod.tfvars
Due: none

style: Fix Prettier formatting for Victorian UI components
  frontend/src/assets/main.css
  frontend/src/components/dashboard/StatisticsDashboard.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/HomeView.vue
Due: frontend-lint, frontend-typecheck

feat: Implement Victorian UI design system
  .github/workflows/ci.yml
  docs/plans/2024-12-09-victorian-ui-design.md
  frontend/src/assets/main.css
  frontend/src/components/books/BookThumbnail.vue
  frontend/src/components/dashboard/StatisticsDashboard.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/HomeView.vue
  frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck

feat: Implement Victorian UI design system (#169)
  .github/workflows/ci.yml
  docs/plans/2024-12-09-victorian-ui-design.md
  frontend/src/assets/main.css
  frontend/src/components/books/BookThumbnail.vue
  frontend/src/components/dashboard/StatisticsDashboard.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/HomeView.vue
  frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck

fix: Update moxon color palette from blue to Victorian hunter green
  frontend/tailwind.config.js
Due: frontend-lint

fix: Update moxon color palette from blue to Victorian hunter green (#174)
  frontend/tailwind.config.js
Due: frontend-lint

chore: Promote staging to production (Victorian UI + color fixes) (#175)
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_DIAGRAMS.md
  docs/CI_CD.md
  docs/DEPLOYMENT.md
  docs/INFRASTRUCTURE.md
  docs/archive/STAGING_ENVIRONMENT_PLAN.md
  docs/plans/2024-12-09-victorian-ui-design.md
  frontend/src/assets/main.css
  frontend/src/components/books/BookThumbnail.vue
  frontend/src/components/dashboard/StatisticsDashboard.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/HomeView.vue
  frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck

docs: Update marketing screenshots with Victorian UI
  docs/screenshots/admin-apikeys.png
  docs/screenshots/admin-panel.png
  docs/screenshots/dashboard.png
  site/index.html
Due: none

docs: Add bmx-api usage instructions to CLAUDE.md
  CLAUDE.md
Due: none

docs: Update marketing screenshots with Victorian UI (#176)
  CLAUDE.md
  docs/screenshots/admin-apikeys.png
  docs/screenshots/admin-panel.png
  docs/screenshots/dashboard.png
  site/index.html
Due: none

docs: Add --text-file flag documentation for bmx-api
  CLAUDE.md
Due: none

docs: Update marketing screenshots with Victorian UI theme
  docs/screenshots/admin-add-book-2.png
  docs/screenshots/admin-add-book.png
  docs/screenshots/admin-book-detail.png
  docs/screenshots/admin-collection.png
  docs/screenshots/admin-dashboard.png
  docs/screenshots/admin-edit-book.png
  docs/screenshots/analysis.png
Due: none

docs: Update marketing screenshots with Victorian UI theme (#177)
  docs/screenshots/admin-add-book-2.png
  docs/screenshots/admin-add-book.png
  docs/screenshots/admin-book-detail.png
  docs/screenshots/admin-collection.png
  docs/screenshots/admin-dashboard.png
  docs/screenshots/admin-edit-book.png
  docs/screenshots/analysis.png
Due: none

docs: Add acquisitions dashboard design
  docs/plans/2025-12-10-acquisitions-dashboard-design.md
Due: none

chore: Add .worktrees/ to gitignore for isolated feature development
  .gitignore
Due: none

docs: Add detailed implementation plan for acquisitions dashboard
  docs/plans/2025-12-10-acquisitions-dashboard-implementation.md
Due: none

docs: Document valid status values including EVALUATING and CANCELED
  backend/app/models/book.py
Due: none

feat(models): Add source tracking and scoring columns to Book
  backend/app/models/book.py
Due: none

feat(db): Add migration for acquisition tracking columns
  backend/alembic/versions/e44df6ab5669_add_acquisition_columns.py
Due: none

feat(schemas): Add acquisition tracking fields to book schemas
  backend/app/schemas/book.py
Due: none

feat(schemas): Add AcquireRequest and ScoringSnapshot schemas
  backend/app/schemas/book.py
Due: none

test: Add failing tests for acquire endpoint
  backend/tests/test_acquire.py
Due: none

feat(api): Add acquire endpoint for EVALUATING -> IN_TRANSIT transition
  backend/app/api/v1/books.py
  backend/app/models/book.py
Due: none

feat(store): Add acquisitions store for dashboard state management
  frontend/src/stores/acquisitions.ts
Due: frontend-lint, frontend-typecheck

feat(ui): Add acquisitions dashboard view with Kanban layout
  frontend/src/views/AcquisitionsView.vue
Due: frontend-lint, frontend-typecheck

feat(router): Add /admin/acquisitions route
  frontend/src/router/index.ts
Due: frontend-lint, frontend-typecheck

feat(ui): Add acquire modal component with order details form
  frontend/src/components/AcquireModal.vue
Due: frontend-lint, frontend-typecheck

feat(ui): Wire acquire modal into dashboard view
  frontend/src/views/AcquisitionsView.vue
Due: frontend-lint, frontend-typecheck

test: Add acquisitions store unit tests
  frontend/src/stores/__tests__/acquisitions.spec.ts
Due: frontend-lint, frontend-typecheck

fix: Address CI lint errors (imports, unused vars, transition)
  backend/app/api/v1/books.py
  backend/app/models/book.py
  backend/tests/test_acquire.py
  frontend/src/components/AcquireModal.vue
  frontend/src/views/AcquisitionsView.vue
Due: frontend-lint, frontend-typecheck

fix: Run formatters and fix Alembic migration parent
  backend/alembic/versions/e44df6ab5669_add_acquisition_columns.py
  backend/tests/test_acquire.py
  frontend/src/components/AcquireModal.vue
  frontend/src/stores/__tests__/acquisitions.spec.ts
  frontend/src/stores/acquisitions.ts
  frontend/src/views/AcquisitionsView.vue
Due: frontend-lint, frontend-typecheck

fix: Handle null/non-number values in formatPrice and formatDiscount
  frontend/src/views/AcquisitionsView.vue
Due: frontend-lint, frontend-typecheck

test: Add smoke tests for AcquisitionsView with null/string value handling
  frontend/src/views/__tests__/AcquisitionsView.spec.ts
Due: frontend-lint, frontend-typecheck

fix: Prefix unused url parameter with underscore in test
  frontend/src/views/__tests__/AcquisitionsView.spec.ts
Due: frontend-lint, frontend-typecheck

feat: Add Acquisitions nav item for admin users
  frontend/src/components/layout/NavBar.vue
Due: frontend-lint, frontend-typecheck

docs: Add evaluating flow implementation plan
  docs/plans/2025-12-10-evaluating-flow-implementation.md
Due: none

feat: add addToWatchlist action to acquisitions store
  frontend/src/stores/__tests__/acquisitions.spec.ts
  frontend/src/stores/acquisitions.ts
Due: frontend-lint, frontend-typecheck

feat: add create actions for authors, publishers, binders
  frontend/src/stores/__tests__/references.spec.ts
  frontend/src/stores/references.ts
Due: frontend-lint, frontend-typecheck

feat: add ComboboxWithAdd component with inline creation
  frontend/src/components/ComboboxWithAdd.vue
  frontend/src/components/__tests__/ComboboxWithAdd.spec.ts
Due: frontend-lint, frontend-typecheck

feat: add AddToWatchlistModal component
  frontend/src/components/AddToWatchlistModal.vue
  frontend/src/components/__tests__/AddToWatchlistModal.spec.ts
Due: frontend-lint, frontend-typecheck
