Repository markthebest12/bluemoxon: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

fix: Add !important to navbar logo height for Tailwind v4 (#166) (#612)
  frontend/src/components/layout/NavBar.vue
Due: frontend-lint, frontend-typecheck

fix: Tailwind v4 compatibility - update deprecated classes (#166)
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/src/assets/main.css
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/components/books/BookThumbnail.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/HomeView.vue
Due: frontend-lint, frontend-typecheck

fix: Tailwind v4 compatibility - update deprecated classes (#166) (#613)
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/src/assets/main.css
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/components/books/BookThumbnail.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/HomeView.vue
Due: frontend-lint, frontend-typecheck

fix: Add --radius-xs to @theme and revert incorrect rounded-sm changes
  frontend/src/assets/main.css
  frontend/src/components/books/BookThumbnail.vue
Due: frontend-lint, frontend-typecheck

fix: Add --radius-xs to @theme and revert incorrect rounded-sm changes (#614)
  frontend/src/assets/main.css
  frontend/src/components/books/BookThumbnail.vue
Due: frontend-lint, frontend-typecheck

docs: Add postmortem and updated requirements for Tailwind v4 migration
  docs/sessions/2025-12-27-tailwind-v4-migration.md
Due: none

fix: Use gap-* instead of space-* for Tailwind v4 compatibility
  frontend/src/components/layout/NavBar.vue
Due: frontend-lint, frontend-typecheck

fix: Replace all space-* with gap-* for Tailwind v4 compatibility
  frontend/src/components/AcquireModal.vue
  frontend/src/components/AddToWatchlistModal.vue
  frontend/src/components/AddTrackingModal.vue
  frontend/src/components/EditWatchlistModal.vue
  frontend/src/components/ImportListingModal.vue
  frontend/src/components/PasteOrderModal.vue
  frontend/src/components/ScoreCard.vue
  frontend/src/components/books/BookForm.vue
  frontend/src/components/books/EvalRunbookModal.vue
  frontend/src/components/books/ImageReorderModal.vue
  frontend/src/components/books/ImageUploadModal.vue
  frontend/src/views/AcquisitionsView.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/BookDetailView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
  frontend/src/views/SearchView.vue
Due: frontend-lint, frontend-typecheck

style: Fix prettier formatting
  frontend/src/components/ScoreCard.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/LoginView.vue
Due: frontend-lint, frontend-typecheck

docs: Add Tailwind v4 migration postmortem and streamline session log
  docs/postmortems/2025-12-28-tailwind-v4-migration.md
  docs/sessions/2025-12-27-tailwind-v4-migration.md
Due: none

fix: Use gap-* instead of space-* for Tailwind v4 compatibility (#615)
  docs/postmortems/2025-12-28-tailwind-v4-migration.md
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/src/components/AcquireModal.vue
  frontend/src/components/AddToWatchlistModal.vue
  frontend/src/components/AddTrackingModal.vue
  frontend/src/components/EditWatchlistModal.vue
  frontend/src/components/ImportListingModal.vue
  frontend/src/components/PasteOrderModal.vue
  frontend/src/components/ScoreCard.vue
  frontend/src/components/books/BookForm.vue
  frontend/src/components/books/EvalRunbookModal.vue
  frontend/src/components/books/ImageReorderModal.vue
  frontend/src/components/books/ImageUploadModal.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/AcquisitionsView.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/BookDetailView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
  frontend/src/views/SearchView.vue
Due: frontend-lint, frontend-typecheck

fix: Convert @utility to @layer components for Tailwind v4 compatibility
  frontend/src/assets/main.css
Due: none

style: Format main.css with Prettier
  frontend/src/assets/main.css
Due: none

fix: Address code review - shadow variables, disabled states, postmortem
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/docs/postmortems/2025-12-28-tailwind-v4-migration.md
  frontend/src/assets/main.css
Due: none

docs: Consolidate postmortems into single location
  docs/postmortems/2025-12-28-tailwind-v4-migration.md
  frontend/docs/postmortems/2025-12-28-tailwind-v4-migration.md
Due: none

fix: Convert @utility to @layer components for Tailwind v4 compatibility (#616)
  docs/postmortems/2025-12-28-tailwind-v4-migration.md
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/src/assets/main.css
Due: none

fix: Add @tailwindcss/forms plugin for Tailwind v4
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/main.css
Due: none

fix: Standardize ComboboxWithAdd to use .input component class
  frontend/src/components/ComboboxWithAdd.vue
Due: frontend-lint, frontend-typecheck

fix: Standardize AddToWatchlistModal to use component classes
  frontend/src/components/AddToWatchlistModal.vue
Due: frontend-lint, frontend-typecheck

fix: Standardize remaining modals to use component classes
  frontend/src/components/AcquireModal.vue
  frontend/src/components/AddTrackingModal.vue
  frontend/src/components/EditWatchlistModal.vue
  frontend/src/components/ImportListingModal.vue
Due: frontend-lint, frontend-typecheck

style: Fix Prettier formatting
  docs/plans/2025-12-28-form-styling-standardization.md
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/src/components/AcquireModal.vue
  frontend/src/components/AddToWatchlistModal.vue
  frontend/src/components/AddTrackingModal.vue
  frontend/src/components/EditWatchlistModal.vue
  frontend/src/components/ImportListingModal.vue
Due: frontend-lint, frontend-typecheck

fix: Add @tailwindcss/forms plugin for Tailwind v4 (#617)
  docs/plans/2025-12-28-form-styling-standardization.md
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/main.css
  frontend/src/components/AcquireModal.vue
  frontend/src/components/AddToWatchlistModal.vue
  frontend/src/components/AddTrackingModal.vue
  frontend/src/components/ComboboxWithAdd.vue
  frontend/src/components/EditWatchlistModal.vue
  frontend/src/components/ImportListingModal.vue
Due: frontend-lint, frontend-typecheck

docs: Add session log for form styling standardization
  docs/sessions/2025-12-28-form-styling-standardization.md
Due: none

fix: Standardize Regenerate button and model dropdown styling
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

fix: Standardize Regenerate button and model dropdown styling (#618)
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

fix: Replace blue styling with Victorian theme component classes
  frontend/src/assets/main.css
  frontend/src/components/ArchiveStatusBadge.vue
  frontend/src/components/ImportListingModal.vue
  frontend/src/components/PasteOrderModal.vue
  frontend/src/components/ScoreCard.vue
  frontend/src/components/books/BookForm.vue
  frontend/src/components/books/EvalRunbookModal.vue
  frontend/src/views/AcquisitionsView.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/BookDetailView.vue
  frontend/src/views/LoginView.vue
Due: frontend-lint, frontend-typecheck

fix: Widen model dropdown and add right padding for arrow
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

style: Fix Prettier formatting
  docs/plans/2025-12-28-blue-to-victorian-sweep.md
  frontend/src/components/ImportListingModal.vue
  frontend/src/components/PasteOrderModal.vue
  frontend/src/components/ScoreCard.vue
  frontend/src/components/books/BookForm.vue
  frontend/src/components/books/EvalRunbookModal.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

fix: Replace blue styling with Victorian theme component classes (#619)
  docs/plans/2025-12-28-blue-to-victorian-sweep.md
  frontend/src/assets/main.css
  frontend/src/components/ArchiveStatusBadge.vue
  frontend/src/components/ImportListingModal.vue
  frontend/src/components/PasteOrderModal.vue
  frontend/src/components/ScoreCard.vue
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/components/books/BookForm.vue
  frontend/src/components/books/EvalRunbookModal.vue
  frontend/src/views/AcquisitionsView.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/BookDetailView.vue
  frontend/src/views/LoginView.vue
Due: frontend-lint, frontend-typecheck

fix: Convert score badge and Mark Received button to Victorian colors
  frontend/src/components/ScoreCard.vue
  frontend/src/views/AcquisitionsView.vue
Due: frontend-lint, frontend-typecheck

docs: Update session log with comprehensive Victorian sweep summary
  docs/sessions/2025-12-28-form-styling-standardization.md
Due: none

chore: Promote staging to production (multiple features) (#611)
  docs/plans/2025-12-27-tailwind-v4-migration.md
  docs/plans/2025-12-28-blue-to-victorian-sweep.md
  docs/plans/2025-12-28-form-styling-standardization.md
  docs/postmortems/2025-12-28-tailwind-v4-migration.md
  docs/sessions/2025-12-27-tailwind-v4-migration.md
  docs/sessions/2025-12-28-form-styling-standardization.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/assets/main.css
  frontend/src/components/AcquireModal.vue
  frontend/src/components/AddToWatchlistModal.vue
  frontend/src/components/AddTrackingModal.vue
  frontend/src/components/ArchiveStatusBadge.vue
  frontend/src/components/ComboboxWithAdd.vue
  frontend/src/components/EditWatchlistModal.vue
  frontend/src/components/ImportListingModal.vue
  frontend/src/components/PasteOrderModal.vue
  frontend/src/components/ScoreCard.vue
  frontend/src/components/books/AnalysisViewer.vue
  frontend/src/components/books/BookForm.vue
  frontend/src/components/books/BookThumbnail.vue
  frontend/src/components/books/EvalRunbookModal.vue
  frontend/src/components/books/ImageCarousel.vue
  frontend/src/components/books/ImageReorderModal.vue
  frontend/src/components/books/ImageUploadModal.vue
  frontend/src/components/dashboard/StatisticsDashboard.vue
  frontend/src/components/layout/NavBar.vue
  frontend/src/views/AcquisitionsView.vue
  frontend/src/views/AdminConfigView.vue
  frontend/src/views/AdminView.vue
  frontend/src/views/BookDetailView.vue
  frontend/src/views/BooksView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/InsuranceReportView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/ProfileView.vue
  frontend/src/views/SearchView.vue
  frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck

chore: update ESLint dependencies for v9 migration
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add ESLint 9 flat config
  frontend/eslint.config.js
Due: frontend-lint

chore: remove legacy .eslintrc.cjs
  frontend/.eslintrc.cjs
Due: none

chore: simplify lint script for ESLint 9
  frontend/package.json
Due: none

fix: configure TypeScript parser for Vue files and fix lint warnings
  frontend/eslint.config.js
  frontend/scripts/validate-cognito-config.js
  frontend/src/main.ts
Due: frontend-lint, frontend-typecheck

docs: add ESLint 9 migration implementation plan
  docs/plans/2025-12-28-eslint9-migration-plan.md
Due: none

refactor: extract shared TypeScript rules and add ignores for dist
  frontend/eslint.config.js
Due: frontend-lint

chore: migrate to ESLint 9 with flat config (#620)
  docs/plans/2025-12-28-eslint9-migration-plan.md
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/validate-cognito-config.js
  frontend/src/main.ts
Due: frontend-lint, frontend-typecheck

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(vue|ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(vue|ts|tsx)$
