Repository markthebest12/bluemoxon: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck

.pre-commit-config.yaml:

# Pre-commit hooks for BlueMoxon
# Install: pip install pre-commit && pre-commit install

repos:
  # Backend - Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Frontend - JavaScript/TypeScript/Vue
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(vue|ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: Frontend TypeScript
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(vue|ts|tsx)$
        pass_filenames: false

  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/dist/|backend/\.venv/)
      - id: end-of-file-fixer
        exclude: ^(frontend/dist/|backend/\.venv/)
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

feat(api): Add provenance_tier and is_first_edition filters (#466)
  backend/app/api/v1/books.py
Due: none

feat(parser): Add analysis metadata extraction (#466)
  backend/app/services/analysis_parser.py
Due: none

feat(worker): Extract and apply analysis metadata to book (#466)
  backend/app/worker.py
Due: none

test(parser): Add tests for analysis metadata extraction (#466)
  backend/tests/test_analysis_parser.py
Due: none

feat(prompt): Add metadata extraction to Napoleon framework (#466)
  prompts/napoleon-framework/v2.md
Due: none

feat(types): Add provenance/first edition fields to Book interface (#466)
  frontend/src/stores/books.ts
Due: frontend-lint, frontend-typecheck

feat(ui): Add first edition and provenance badges to book detail (#466)
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

feat(ui): Add provenance tier and first edition filters (#466)
  frontend/src/views/BooksView.vue
Due: frontend-lint, frontend-typecheck

feat(ui): Add provenance/first edition fields to book edit form (#466)
  frontend/src/components/books/BookForm.vue
Due: frontend-lint, frontend-typecheck

style: Fix prettier formatting in BookDetailView (#466)
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

feat(provenance): Add searchable provenance and first edition fields (#466) (#467)
  backend/alembic/versions/q0123456cdef_add_provenance_first_edition.py
  backend/app/api/v1/books.py
  backend/app/models/book.py
  backend/app/schemas/book.py
  backend/app/services/analysis_parser.py
  backend/app/worker.py
  backend/tests/test_analysis_parser.py
  frontend/src/components/books/BookForm.vue
  frontend/src/stores/books.ts
  frontend/src/views/BookDetailView.vue
  frontend/src/views/BooksView.vue
  prompts/napoleon-framework/v2.md
Due: frontend-lint, frontend-typecheck

fix(health): Add provenance/first edition migration to /health/migrate (#466)
  backend/app/api/v1/health.py
Due: none

feat: add structured data extraction prompt for two-stage approach
  backend/prompts/extraction/structured-data.md
Due: none

feat: add extract_structured_data function for two-stage extraction
  backend/app/services/bedrock.py
  backend/tests/test_bedrock.py
Due: none

feat: integrate two-stage extraction into analysis worker
  backend/app/worker.py
Due: none

docs: Add design doc and two-stage extraction plan for provenance/first-edition (#466)
  docs/plans/2025-12-19-provenance-first-edition-design.md
  docs/plans/2025-12-19-two-stage-extraction.md
Due: none

style: format bedrock.py and test_bedrock.py
  backend/app/services/bedrock.py
  backend/tests/test_bedrock.py
Due: none

feat: two-stage structured data extraction (#468) (#469)
  backend/alembic/versions/q0123456cdef_add_provenance_first_edition.py
  backend/app/api/v1/books.py
  backend/app/api/v1/health.py
  backend/app/models/book.py
  backend/app/schemas/book.py
  backend/app/services/analysis_parser.py
  backend/app/services/bedrock.py
  backend/app/worker.py
  backend/prompts/extraction/structured-data.md
  backend/tests/test_analysis_parser.py
  backend/tests/test_bedrock.py
  docs/plans/2025-12-19-provenance-first-edition-design.md
  docs/plans/2025-12-19-two-stage-extraction.md
  frontend/src/components/books/BookForm.vue
  frontend/src/stores/books.ts
  frontend/src/views/BookDetailView.vue
  frontend/src/views/BooksView.vue
  prompts/napoleon-framework/v2.md
Due: frontend-lint, frontend-typecheck

feat: extract provenance_description from analysis (#466)
  backend/app/worker.py
  backend/prompts/extraction/structured-data.md
Due: none

feat: extract provenance_description from analysis (#466) (#470)
  backend/app/worker.py
  backend/prompts/extraction/structured-data.md
Due: none

feat: extraction status tracking and retry logic (#466)
  backend/alembic/versions/r1234567ghij_add_extraction_status.py
  backend/app/api/v1/books.py
  backend/app/models/analysis.py
  backend/app/schemas/analysis.py
  backend/app/services/bedrock.py
  backend/app/worker.py
  frontend/src/components/books/AnalysisViewer.vue
Due: frontend-lint, frontend-typecheck

style: fix prettier formatting
  frontend/src/components/books/AnalysisViewer.vue
Due: frontend-lint, frontend-typecheck

feat(monitor): Add Bedrock invocations and analysis job tracking
  scripts/monitor-capacity.sh
Due: none

fix(health): Add extraction_status migration to /health/migrate
  backend/app/api/v1/health.py
Due: none

fix(monitor): Use tr for uppercase instead of bash 4+ syntax
  scripts/monitor-capacity.sh
Due: none

fix(monitor): Simplify formatting to avoid ANSI alignment issues
  scripts/monitor-capacity.sh
Due: none

fix: Add retry logic to Stage 1 Bedrock, expand binding_type column, add analysis polling (#471, #472, #473)
  backend/app/api/v1/health.py
  backend/app/models/book.py
  backend/app/services/bedrock.py
  frontend/src/views/BookDetailView.vue
Due: frontend-lint, frontend-typecheck

style: Format bedrock.py with ruff
  backend/app/services/bedrock.py
Due: none

fix: expand binders.name column to varchar(100) (#473)
  backend/app/api/v1/health.py
  backend/app/models/binder.py
Due: none

fix: Add Cognito config validation to prevent local build issues (#474)
  .github/workflows/deploy.yml
  CLAUDE.md
  frontend/package.json
  frontend/scripts/validate-cognito-config.js
Due: frontend-lint

docs: Add tiered recommendations design for #388
  docs/plans/2025-12-19-tiered-recommendations-design.md
Due: none

test: add quality score tests for tiered recommendations #388
  backend/tests/test_tiered_scoring.py
Due: none

feat: add calculate_quality_score function #388
  backend/app/services/tiered_scoring.py
Due: none

test: add strategic fit score tests #388
  backend/tests/test_tiered_scoring.py
Due: none

feat: add calculate_strategic_fit_score function #388
  backend/app/services/tiered_scoring.py
Due: none

test: add price position and combined score tests #388
  backend/tests/test_tiered_scoring.py
Due: none

feat: add price position and combined score functions #388
  backend/app/services/tiered_scoring.py
Due: none

fix: Use sync extraction for eBay short URLs (#445)
  frontend/src/components/ImportListingModal.vue
Due: frontend-lint, frontend-typecheck

fix: Remove unused pytest import to pass lint
  backend/tests/test_tiered_scoring.py
Due: none

fix: Use sync extraction for eBay short URLs (#445) (#478)
  backend/app/services/tiered_scoring.py
  backend/tests/test_tiered_scoring.py
  docs/plans/2025-12-19-tiered-recommendations-design.md
  frontend/src/components/ImportListingModal.vue
Due: frontend-lint, frontend-typecheck
