Repository markthebest12/bluemoxon: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

feat(social-circles): Redesign NodeDetailPanel with floating card and sidebar (#1384)
  backend/app/api/v1/books.py
  backend/app/schemas/book.py
  docs/plans/2026-01-27-node-detail-panel-design.md
  docs/plans/2026-01-27-node-detail-panel-implementation.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/entity-placeholders/authors/generic-victorian-portrait-1.svg
  frontend/public/images/entity-placeholders/authors/generic-victorian-portrait-2.svg
  frontend/public/images/entity-placeholders/authors/generic-victorian-portrait-3.svg
  frontend/public/images/entity-placeholders/authors/generic-victorian-portrait-4.svg
  frontend/public/images/entity-placeholders/binders/bindery-workbench.svg
  frontend/public/images/entity-placeholders/binders/bookbinding-tools.svg
  frontend/public/images/entity-placeholders/binders/leather-workshop.svg
  frontend/public/images/entity-placeholders/binders/victorian-bindery-scene.svg
  frontend/public/images/entity-placeholders/fallback.svg
  frontend/public/images/entity-placeholders/publishers/london-bookshop-exterior.svg
  frontend/public/images/entity-placeholders/publishers/publisher-office-interior.svg
  frontend/public/images/entity-placeholders/publishers/victorian-printing-press.svg
  frontend/public/images/entity-placeholders/publishers/victorian-publisher-logo.svg
  frontend/src/components/socialcircles/EdgeSidebar.vue
  frontend/src/components/socialcircles/NetworkGraph.vue
  frontend/src/components/socialcircles/NodeDetailPanel.vue
  frontend/src/components/socialcircles/NodeFloatingCard.vue
  frontend/src/components/socialcircles/__tests__/EdgeSidebar.test.ts
  frontend/src/components/socialcircles/__tests__/NodeFloatingCard.test.ts
  frontend/src/composables/socialcircles/__tests__/fixtures.ts
  frontend/src/composables/socialcircles/__tests__/useNetworkSelection.test.ts
  frontend/src/composables/socialcircles/useNetworkSelection.ts
  frontend/src/composables/socialcircles/useSocialCircles.ts
  frontend/src/constants/socialCircles.ts
  frontend/src/utils/socialCircles/__tests__/cardPositioning.test.ts
  frontend/src/utils/socialCircles/__tests__/formatters.test.ts
  frontend/src/utils/socialCircles/cardPositioning.ts
  frontend/src/utils/socialCircles/formatters.ts
  frontend/src/utils/socialCircles/index.ts
  frontend/src/views/SocialCirclesView.vue
Due: frontend-lint, frontend-typecheck

fix: Use hex colors for Cytoscape instead of CSS variables
  frontend/src/constants/socialCircles.ts
Due: frontend-lint, frontend-typecheck

fix: Use hex colors for Cytoscape instead of CSS variables (#1394)
  frontend/src/constants/socialCircles.ts
Due: frontend-lint, frontend-typecheck

perf: Lazy load Chart.js only on dashboard
  frontend/src/views/HomeView.vue
Due: frontend-lint, frontend-typecheck

feat(social-circles): Add v-model support to TimelineSlider
  frontend/src/components/socialcircles/TimelineSlider.vue
  frontend/src/components/socialcircles/__tests__/TimelineSlider.test.ts
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Consolidate ESC key listeners
  frontend/src/components/socialcircles/EdgeSidebar.vue
  frontend/src/components/socialcircles/NodeFloatingCard.vue
  frontend/src/composables/socialcircles/__tests__/useEscapeKey.test.ts
  frontend/src/composables/socialcircles/index.ts
  frontend/src/composables/socialcircles/useEscapeKey.ts
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Replace magic number with constant
  frontend/src/composables/socialcircles/useUrlState.ts
  frontend/src/constants/socialCircles.ts
Due: frontend-lint, frontend-typecheck

fix(social-circles): Make shared_publisher truncation deterministic
  backend/app/services/social_circles.py
  backend/tests/api/v1/test_social_circles.py
Due: none

fix(social-circles): Close export menu on click outside
  frontend/src/components/socialcircles/ExportMenu.vue
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Use satisfies for TIER_MAP type safety
  frontend/src/utils/socialCircles/formatters.ts
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Replace ternary chain with type label map
  frontend/src/components/socialcircles/EdgeSidebar.vue
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Remove HoveredEdgeData type duplication
  frontend/src/types/utils.ts
  frontend/src/views/SocialCirclesView.vue
Due: frontend-lint, frontend-typecheck

docs(social-circles): Document useNetworkData cache behavior
  frontend/src/composables/socialcircles/useNetworkData.ts
Due: frontend-lint, frontend-typecheck

feat(social-circles): Make MAX_BOOKS limit configurable via query param
  backend/app/api/v1/social_circles.py
  backend/app/services/social_circles.py
  backend/tests/api/v1/test_social_circles.py
Due: none

perf(social-circles): Optimize NetworkGraph element change detection
  frontend/src/components/socialcircles/NetworkGraph.vue
Due: frontend-lint, frontend-typecheck

perf(social-circles): Limit book_ids to 10 per node
  backend/app/services/social_circles.py
  backend/tests/api/v1/test_social_circles.py
Due: none

perf(social-circles): Reduce URL debounce, pause during playback
  frontend/src/composables/socialcircles/__tests__/useUrlState.test.ts
  frontend/src/composables/socialcircles/useSocialCircles.ts
  frontend/src/composables/socialcircles/useUrlState.ts
  frontend/src/constants/socialCircles.ts
Due: frontend-lint, frontend-typecheck

fix(social-circles): Disable View Full Profile button
  frontend/src/components/socialcircles/NodeFloatingCard.vue
  frontend/src/components/socialcircles/__tests__/NodeFloatingCard.test.ts
Due: frontend-lint, frontend-typecheck

fix(api): Add truncation indicator when IDs parameter exceeds limit
  backend/app/api/v1/books.py
  backend/app/schemas/book.py
  backend/tests/test_books.py
Due: none

test(social-circles): Add truncation behavior tests
  backend/tests/api/v1/test_social_circles.py
Due: none

test(social-circles): Add edge case tests for useNetworkSelection
  frontend/src/composables/socialcircles/__tests__/useNetworkSelection.test.ts
Due: frontend-lint, frontend-typecheck

test(social-circles): Add test fixtures and MSW handlers
  frontend/src/test/fixtures/socialCircles.ts
  frontend/src/test/mocks/socialCirclesHandlers.ts
Due: frontend-lint, frontend-typecheck

feat(social-circles): Add /social-circles/health endpoint
  backend/app/api/v1/social_circles.py
  backend/tests/api/v1/test_social_circles.py
Due: none

test(social-circles): Add performance validation tests
  frontend/src/components/socialcircles/__tests__/performance.test.ts
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Extract date_range fallback to constant
  backend/app/services/social_circles.py
Due: none

docs(health): Document transaction handling in migrate endpoint
  backend/app/api/v1/health.py
Due: none

fix(social-circles): Address review feedback for NetworkGraph
  frontend/src/components/socialcircles/NetworkGraph.vue
Due: frontend-lint, frontend-typecheck

fix: Address code review feedback for PR #1398
  frontend/src/components/socialcircles/ExportMenu.vue
  frontend/src/composables/socialcircles/useNetworkData.ts
  frontend/src/composables/socialcircles/useUrlState.ts
  frontend/src/constants/socialCircles.ts
  frontend/src/views/HomeView.vue
Due: frontend-lint, frontend-typecheck

fix: Address PR review feedback for types and constants
  frontend/src/types/utils.ts
  frontend/src/utils/socialCircles/__tests__/formatters.test.ts
  frontend/src/views/SocialCirclesView.vue
Due: frontend-lint, frontend-typecheck

fix(social-circles): Address code review findings for URL state
  frontend/src/composables/socialcircles/__tests__/useUrlState.test.ts
  frontend/src/composables/socialcircles/useSocialCircles.ts
  frontend/src/composables/socialcircles/useUrlState.ts
Due: frontend-lint, frontend-typecheck

fix: Clear debounce timeout on playback and use @change for slider
  frontend/src/components/socialcircles/TimelineSlider.vue
  frontend/src/composables/socialcircles/useUrlState.ts
Due: frontend-lint, frontend-typecheck

style: Format NetworkGraph.vue with Prettier
  frontend/src/components/socialcircles/NetworkGraph.vue
Due: frontend-lint, frontend-typecheck

fix: Exclude test fixtures/mocks from production type-check
  frontend/eslint.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
Due: frontend-lint

fix: Allow multiple components in test files
  frontend/eslint.config.js
Due: frontend-lint

fix: Add explicit undefined defaults for optional v-model props
  frontend/src/components/socialcircles/TimelineSlider.vue
Due: frontend-lint, frontend-typecheck

perf(social-circles): NetworkGraph optimizations (#1397)
  frontend/src/components/socialcircles/NetworkGraph.vue
Due: frontend-lint, frontend-typecheck

feat(social-circles): Frontend improvements (#1398)
  frontend/src/components/socialcircles/ExportMenu.vue
  frontend/src/composables/socialcircles/useNetworkData.ts
  frontend/src/composables/socialcircles/useUrlState.ts
  frontend/src/constants/socialCircles.ts
  frontend/src/views/HomeView.vue
Due: frontend-lint, frontend-typecheck

fix(social-circles): Timeline and URL improvements (#1399)
  frontend/src/components/socialcircles/TimelineSlider.vue
  frontend/src/components/socialcircles/__tests__/TimelineSlider.test.ts
  frontend/src/composables/socialcircles/__tests__/useUrlState.test.ts
  frontend/src/composables/socialcircles/useSocialCircles.ts
  frontend/src/composables/socialcircles/useUrlState.ts
  frontend/src/constants/socialCircles.ts
Due: frontend-lint, frontend-typecheck

refactor(social-circles): Detail panel improvements (#1400)
  frontend/eslint.config.js
  frontend/src/components/socialcircles/EdgeSidebar.vue
  frontend/src/components/socialcircles/NodeFloatingCard.vue
  frontend/src/components/socialcircles/__tests__/NodeFloatingCard.test.ts
  frontend/src/composables/socialcircles/__tests__/useEscapeKey.test.ts
  frontend/src/composables/socialcircles/index.ts
  frontend/src/composables/socialcircles/useEscapeKey.ts
Due: frontend-lint, frontend-typecheck

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(vue|ts|tsx|js|jsx)$
  frontend-typecheck: any of: ^frontend/.*\.(vue|ts|tsx)$
